<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my weather app</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-info text-white">
    <div class="text-center">
      <br />
      <br />
      <br />

      <h1 id="heading" class="mt=5">Weather App</h1>
      <form action="/" method="post">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <input
                type="text"
                id="cityName"
                name="cityName"
                placeholder="City"
                class="form-control"
              />
            </div>
            <div class="col-sm">
              <input
                type="text"
                id="stateName"
                name="stateName"
                placeholder="statecode"
                class="form-control"
              />
            </div>

            <div class="col-sm">
              <input
                type="text"
                id="countryName"
                name="countryName"
                placeholder="countryName"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <br />
        <button class="submit btn btn-dark">Find</button>
      </form>
      <br />
      {%if data%}
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
          {{ data.main}} :{{ data.description }}
        </li>
        <br />
        <li class="list-group-item list-group-item-secondary">
          <img
            src="https://openweathermap.org/img/wn/{{data.icon}}@2x.png"
            alt="Icon"
          />
        </li>
        <br />
        <li class="list-group-item list-group-item-success">
          TEMPRATURE :{{data.temperature }} C
        </li>
        <br />
        <li class="list-group-item list-group-item-danger">
          MINIMUM TEMPRATURE:{{data.temp_min}} C
        </li>
        <br />
        <li class="list-group-item list-group-item-warning">
          MAXIMUM TEMPRTURE :{{data.temp_max}} C
        </li>
        <br />
        <li class="list-group-item list-group-item-info">
          HUMIDITY :{{data.humidity}} %
        </li>
        <br />
        <li class="list-group-item list-group-item-light">
          PRESSURE :{{data.pressure}} P
        </li>
        <br />
        <li class="list-group-item list-group-item-dark">
          VISIBILITY :{{data.visibility}} METRES
        </li>
        <br />
      </ul>

      {%endif%}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
